<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header class="bg-primary text-white py-3">
        <nav class="container">
            <ul class="nav justify-content-center">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'profile' %}">Profile</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class="container mt-5">
        {% block content %}{% endblock %}
    </main>
</body>
</html>
