body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #0056b3;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: #004080;
}

.main-content {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

ul li a {
    color: #007bff;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

ul li a span {
    flex: 1;
    margin-right: 20px;
    text-align: left;
}

ul li a img {
    margin-right: 20px;
    border-radius: 50%;
}

ul li a:hover {
    text-decoration: underline;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #007bff;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination span {
    margin: 0 5px;
    font-weight: bold;
}

.form-wrapper {
    text-align: center;
    margin-top: 20px;
}

.form-wrapper form {
    display: inline-block;
    text-align: left;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.list-group-item div {
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}
